# Dependency directories
node_modules/
jspm_packages/

# Build outputs
dist/
build/
bin/
server.exe
*.exe

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS Files
.DS_Store
Thumbs.db
